llm/Project/DerivedData/methodAttributes.json
llm/Project/DerivedData/formAttributes.json
llm/userPreferences.*
llm/secrets/*
llm/Project/DerivedData/1/formAttributes.json
llm/Data/data.4DD
llm/Data/data.journal
llm/Data/data.Match
